@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/* ======================== Variable ================ */
:root {
    --title-color: #dc143c;
    --text-color: rgb(252, 251, 251);
    --body-color: #000;

    --head-font: 'Open Sans', sans-serif;
    --text-font: 'Poppins', sans-serif;
    --logo-font: 'Ubuntu', sans-serif;
    --title-font: 'Roboto Condensed', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*::selection {
    background: rgb(238, 90, 120);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.container{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.section-title {
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: var(--title-color);
    font-family: var(--title-font);
}

.section-title::after {
    content: '';
    position: absolute;
    background: var(--title-color);
    bottom: 0;
    width: 15rem;
    height: 0.4rem;
    margin: auto;
    left: 0; right: 0;
}

.nav_section {
    max-width: 118rem;
    margin: auto;
}

.section {
    max-width: 115rem;
    margin: auto;
}
/* =============================== Header ========================== */
.header {
    width: 100%;
    position: fixed;
    background-color: var(--body-color);
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav_logo {
    font-family: var(--logo-font);
    font-size: 2rem;
}

.logo {
    color: var(--title-color);
}

.nav-logo {
    color: var(--text-color);
}

.nav ul {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: var(--head-font);
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: var(--text-color);

}

ul li a::after {
    color: var(--title-color);
    width: 0%;
    content: '';
    height: 0.24rem;
    background-color: var(--title-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

ul li a:hover::after {
    width: 100%;
}

.nav_moon {
    color: white;
}

.nav_moon:hover {
    cursor: pointer;
}

.nav_menu {
    display: none;
}

/* ============================== Home ========================= */

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: var(--text-font);
}

.home_details {
    display: flex;
    column-gap: 3rem;
}

.home_img {
    position: absolute;
    right: 0;
    top: 5%;
}

.home_blob {
    width: 45rem;
}

.home_icons {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    font-size: 2.2rem;
    margin-left: 2rem;
}

.home-icon {
    color: var(--title-color);
}

.title {
    font-size: 5rem;
}

.title_name {
    color: var(--title-color);
}

.info {
    padding-top: 1.3rem;
    font-size: 2.5rem;
}

.details {
    padding-top: 0.5rem;
    font-size: 1rem;
}


/* ==================================== About =============================== */


.about_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--head-font);
}

.about_img img{
    width: 20rem;
}

.about_details{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin-top: 2rem;
}
.about_info_heading{
    color: var(--title-color);
    font-size: 2rem;
    text-align: left;
}
.about_info p{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

/* ======================================= Button ============================== */

.button{
    display: inline-block;
    background-color: var(--title-color);
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
}

.button:hover{
    background-color: #dd3b5b;
    font-size: 1.74rem;
    transition: 0.3s ease;

}

.button-text{
    font-weight: 500;
}

.button_icon{
    margin-left: 0.5rem;
}


/* ========================================= SKills========================= */

.skills_conatiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.skill_title{
    font-family: var(--title-font);
}

/* .skill_content{
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    
} */

.skill_header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    cursor: pointer;
    margin-bottom: 1rem;
    /* box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1); */
}

.skill_icon , .skill_down{
    font-size: 2.8rem;
    color: var(--title-color);
}

.skill_title{
    font-size: 2rem;
}


.skill_list{
    display: grid;
    gap: 1rem;
}

.skill_sublist{
    font-family: var(--text-font);
}

.skill_subtitle{
    display: flex;
    justify-content: space-between;
}

.skill_percent_bar{
    display: block;
    border-radius: 0.75rem;
    height: 0.5rem;
    background-color: #ee899d;
}

.skill_bar_html{
    display: block;
    height: 0.5rem;
    width: 90%;
    background-color: var(--title-color);
}
.skill_bar_css{
    display: block;
    height: 0.5rem;
    width: 70%;
    background-color: var(--title-color);
}
.skill_bar_js{
    display: block;
    height: 0.5rem;
    width: 60%;
    background-color: var(--title-color);
}
.skill_bar_ps{
    display: block;
    height: 0.5rem;
    width: 85%;
    background-color: var(--title-color);
}
.skill_bar_ibis{
    display: block;
    height: 0.5rem;
    width: 70%;
    background-color: var(--title-color);
}

.skill_close .skill_list{
    height: 0;
    overflow: hidden;
}

.skill_open .skill_list{
    height: max-content;
    margin-bottom: 2.5rem;
}














/* =================================== Media Quieres ====================== */

@media screen and (max-width: 1330px) {

    .home_img {
        top: 10%;
    }

    .home_blob {
        width: 40rem;
    }

    .home_details {
        column-gap: 2.5rem;
    }

    .home_icons {
        row-gap: 2.5rem;
        font-size: 2rem;
    }

    .title {
        font-size: 4.5rem;
    }

    .info {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 1330px) {


    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-section {
        max-width: 60rem;
        margin: auto;
    }

    .home_img {
        position: relative;
    }
}